html, body{
    margin: 0;
    padding: 0;
}

.background-color{
    background-color: #F2EFE7;
}

.hilight-color{
    background-color: #006A71;
}

.midlight-color{
    background-color: #48A6A7;
}

.test-border{
    border: dotted;
    border-color: blue;
    border-radius: 0px 0px 10px 10px;
}

.background{
    width: 100vw;
    height: 100vh;
}

.top-bar{
    height: 7vh;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

.top-bar-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.top-bar-section-main{
    display: flex;
    flex: .5;
    justify-content: space-around;
}

.top-bar-section-min{
    display: flex;
    flex: .3;
}

.page-title{
    display: flex;
    font-size: 20px;
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    color: #F2EFE7;
    justify-content: center;
    align-items:center;
}

.main-button-container{
    display: flex;
    flex: .3;
    justify-content: center;
    align-items: center;    
}

.main-button{
    width: 50%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-button{
    width: 75%;
}

.button-text{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: #F2EFE7;
}